<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="3.0">

  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.fiap.on.esoa.controllers.HomeServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

</web-app>
